<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083088199-2uhou9ivttgtecj64suvlp7mad7upcfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083088199-2uhou9ivttgtecj64suvlp7mad7upcfh</string>
	<key>API_KEY</key>
	<string>AIzaSyDYSuexhG1I9Tnw6s9PsH5obH1Nmu2sDSk</string>
	<key>GCM_SENDER_ID</key>
	<string>1083088199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Esaygiver.Loodos-MovieApp-</string>
	<key>PROJECT_ID</key>
	<string>loodos-movieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-movieapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083088199:ios:0b4e7bf9c3d651714b4062</string>
</dict>
</plist>